<template>
  <div>
    <span class="title">Name: </span>
    <span class="text">{{ fullDataPokemon.name }}</span>
    <hr />
    <span class="title">Weight: </span>
    <span class="text">{{ fullDataPokemon.weight }}</span>
    <hr />
    <span class="title">Heights: </span>
    <span class="text">{{ fullDataPokemon.height }}</span>
    <hr />
    <span class="title">Types: </span>
    <span class="text">{{ printTypes(fullDataPokemon.types) }}</span>
    <hr />
  </div>
</template>

<script>
import "../../assets/css/modal.css";

export default {
  name: "DetallePokemon",
  props: {
    fullDataPokemon: {},
  },
  methods: {
    printTypes(types) {
      return types.map((item) => item.type.name).join(", ");
    },
  },
};
</script>

<style scoped></style>
