<template>
    <div class="pkm">
        <transition name="fade" :duration="500">
            <div class="overlay" id="overlay" v-if="show">
                <div class="modal-pokemon">
                    <div class="close-modal" @click="closeModal">
                        <img
                                src="../../assets/icons/Vectorclose.png"
                                height="26"
                                width="26"
                                alt="closeIcon"
                        />
                    </div>
                    <div class="pokemon-img">
                        <img
                                src="../../assets/images/image 14.png"
                                height="220"
                                width="688"
                                alt="forest"
                        />
                        <img
                                class="character"
                                :src="fullDataPokemon.sprites.front_default"
                                alt="pokemon"
                        />
                    </div>
                    <div class="pokemon-detalle">
                        <DetallePokemon :full-data-pokemon="fullDataPokemon"/>
                    </div>
                    <div class="actions">
                        <button @click="save" class="btn-shared btn btn-micro">
                            <span>Share to my friends</span>
                        </button>
                        <StarFavorite
                                @click="savePokemon(pokemon)"
                                class="star-favorite"
                                :pokemon="pokemon"
                        />
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import axios from "axios";
    import "../../assets/css/modal.css";
    import DetallePokemon from "./DetallePokemon";
    import StarFavorite from "../pokemon/StarFavorite";
    import savePokemonMixin from "../../mixins/savePokemonMixin";
    import {copyToClipBoard} from "../../utils/copyClipboard";

    export default {
        name: "ModalPokemon",
        components: {StarFavorite, DetallePokemon},
        mixins: [savePokemonMixin],
        props: {
            pokemon: {
                type: Object,
            },
            transition: {
                type: String,
                default: "modal",
            },
        },
        methods: {
            openModal() {
                this.getDataPokemon();
                window.addEventListener("keyup", this.listenKeyUp);
            },
            closeModal() {
                this.show = false;
                window.removeEventListener("keyup", this.listenKeyUp);
            },
            listenKeyUp(event) {
                if (event.key === "Escape") {
                    this.closeModal();
                }
            },
            save() {
                const {abilities, name} = this.fullDataPokemon;
                const listOfAbilities = abilities.map((ab) => ab.ability.name);
                const pokemon = {name, abilities: listOfAbilities.toString()};
                copyToClipBoard(JSON.stringify(pokemon));
                this.$swal("Success", "Pokemon abilities copies to clipboard successfully...", "success")
            },
            async getDataPokemon() {
                try {
                    const response = await axios.get(this.pokemon.url);
                    if (response.status === 200) {
                        this.fullDataPokemon = response.data;
                        this.show = true;
                    } else console.error(response);
                } catch (e) {
                    console.error(e);
                }
            },
        },
        data() {
            return {
                show: false,
                fullDataPokemon: {},
            };
        },
    };
</script>
