<template>
  <div  class="rectangle">
    <h3 @click="openModal">{{ pokemon.name }}</h3>
    <StarFavorite :pokemon="pokemon" @click="$emit('savePokemon', pokemon)" />
    <ModalPokemon ref="modalPokemon" :pokemon="pokemon"/>
  </div>
</template>

<script>
import "../../assets/css/pokemonList.css";
import ModalPokemon from "../modal-pokemon/ModalPokemon";
import StarFavorite from "./StarFavorite";

export default {
  name: "PokemonList",
  components: { StarFavorite, ModalPokemon },
  props: {
    pokemon: {
      type: Object,
      required: true,
    },
  },
  methods: {
    openModal() {
      this.$refs.modalPokemon.openModal();
    },
  },
};
</script>

<style scoped></style>
