<template>
  <div class="search">
    <img
      alt="search icon"
      src="../../assets/icons/Vectorsearch.png"
      height="18"
      width="18"
    />
    <input
      ref="search"
      v-model="pokemonName"
      class="search__input"
      type="text"
      placeholder="Search"
      @change="sendName"
    />
  </div>
</template>

<script>
import "../../assets/css/serachInput.css";

export default {
  name: "SearchPokemon",
  mounted() {
    this.$refs.search.focus();
  },
  methods: {
    sendName() {
      this.$emit("change", this.pokemonName);
    },
  },
  computed: {
    pokemonName: {
      get() {
        return this.$store.state.pokemonName;
      },
      set(value) {
        this.$store.commit("ADD_POKEMON_NAME", value);
      },
    },
  },
};
</script>
