<template>
  <div class="star" @click="$emit('click', pokemon)">
    <img v-if="!pokemon.check" src="../../assets/icons/star.png" alt="star" />
    <img v-else src="../../assets/icons/starChecked.png" alt="star" />
  </div>
</template>

<script>
export default {
  name: "StarFavorite",
  props: {
    pokemon: {},
  },
};
</script>

<style scoped></style>
