<template>
    <div class="no-data">
        <h2 class="no-data__title">Uh-oh!</h2>
        <h3 class="no-data__text">{{text}}</h3>
        <button class="btn btn-micro btn-back" @click="$router.push(path)">
            <span>{{btnText}}</span>
        </button>
    </div>
</template>

<script>

    export default {
        name: "emptyList",
        props: {
            btnText: {
                type: String,
                default: "Go back home"
            },
            text: {
                type: String,
                default: "You lost on your honey!"
            },
            path: {
                type: String,
                required: true
            }
        }
    };
</script>

<style scoped>
    .no-data {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .no-data .no-data__title{
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .no-data .no-data__text{
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #5E5E5E;
        margin-bottom: 25px;
    }
    .no-data .btn-back{
        color: white;
        font-family: Lato, sans-serif;
        border-radius: 60px;
        width: 200px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        background: #F22539;
        margin: 0 20px 0 20px;
        transition: background-color linear 200ms;
    }
    .no-data .btn-back:hover{
        background-color: #C00E20
    }
</style>
