<template>
  <div class="button-bar">
    <button
      @click="goToRoute('pokemons')"
      :class="{ 'active-btn': isRouterPokemons() }"
      class="btn btn-micro"
    >
      <img src="../../assets/icons/list.png" alt="lista" />
      <span>All</span>
    </button>
    <button
      @click="goToRoute('favorite-pokemons')"
      :class="{ 'active-btn': isRouterFavorites() }"
      class="btn btn-micro"
    >
      <img src="../../assets/icons/VectorstarWhite.png" alt="starWhite" />
      <span>Favorites</span>
    </button>
  </div>
</template>

<script>
import "../../assets/css/ButtomBar.css";

export default {
  name: "BottomBar",
  methods: {
    isRouterPokemons() {
      return this.$route.name === "pokemons";
    },
    isRouterFavorites() {
      return this.$route.name === "favoritePokemons";
    },
    goToRoute(name) {
      if (this.$route.path === name) return;
      this.$router.push(name);
    },
  },
};
</script>
