<template>
  <div class="loader">
    <img src="../../assets/images/Loaderloader.png" alt="pokeball" />
  </div>
</template>

<script>
export default {
  name: "Loader",
};
</script>

<style scoped>
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader img {
  width: 106px;
  height: 106px;
  overflow: hidden;
  animation: rotate linear infinite 600ms;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
