
.button-bar {
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    margin: 0;
    padding: 20px 0;
    justify-content: center;
    transition: height linear 200ms;
}

.button-bar button {
    color: white;
    font-family: Lato, sans-serif;
    border-radius: 60px;
    width: 275px;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    background-color: #BFBFBF;
    margin: 0 20px 0 20px;
    transition: width linear 200ms;
}

.button-bar button span {
    position: relative;
    top: 2px
}

.button-bar button:hover {
    color: white;
}
.button-bar button:hover ~ .button-bar {
    height: 85px;
}

.button-bar button img{
    width: 22px;
    height: 22px;
    margin-right: 11px;
}

.active-btn {
    background-color: red !important;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .button-bar button{
        width: 150px;
        margin: 0 15px 0 15px;
    }
}
