
.home {
    font-family: Lato, sans-serif;
    transform: translateY(30%);
    position: relative;
}

.home .title {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: #353535;
}

.home .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #5E5E5E;
}
