.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    animation: fadeIn linear 500ms;
}

.modal-pokemon {
    width: 570px;
    height: 540px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn linear 500ms;
    transition: width linear 300ms;
}

.modal-pokemon .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    cursor: pointer;
}

.modal-pokemon .pokemon-img {
    width: 100%;
    height: 431px;
    position: relative;
}

.modal-pokemon .pokemon-img .character {
    position: absolute;
    width: 180px;
    height: 180px;
    left: calc(50% - 180px / 2 - 1px);
    top: calc(50% - 180px / 2 - 75px);
}

.modal-pokemon .pokemon-detalle {
    position: absolute;
    top: 45%;
    width: 100%;
    /*margin: 5px 10px;*/
    padding: 0 30px;
}

.modal-pokemon .pokemon-detalle .title {
    width: 118px;
    height: 27px;
    font-style: normal;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #5E5E5E;
}

.modal-pokemon .pokemon-detalle .text{
    width: 118px;
    height: 27px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #5E5E5E;
    text-transform: capitalize;
}

.modal-pokemon .pokemon-detalle hr {
    margin-right: 20px;
    background: #E8E8E8;
    height: 2px;
}

.modal-pokemon .actions .btn-shared {
    padding: 10px 20px;
    width: 195px;
    height: 44px;
    background: #f22539;
    border-radius: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    transition: background-color linear 200ms;
    position: absolute;
    bottom: 0;
    margin: 0 0 9px 5px;
    left: 28px;
}

.modal-pokemon .actions .btn-shared:hover {
    color: #ffffff;
    background: #c00e20;
}

.modal-pokemon .actions .btn-shared span {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    width: 155px;
    height: 22px;
}
.modal-pokemon .actions .star-favorite {
    position: relative;
    right: -83.5%;
    bottom: 0;
    top: 54px;
}


.fade-enter-active, .fade-leave-active {
    transition: all 1s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-30%);
}

@media screen and (max-width: 600px) {
    .modal-pokemon {
        width: 315px;
        height: 540px;
    }

    /*.modal-pokemon .actions .btn-shared {*/
    /*    margin: 0 0 2px 5px;*/
    /*}*/

    .modal-pokemon .pokemon-detalle hr {
        margin-right: 30px;
        background: #E8E8E8;
        height: 2px;
    }
    .modal-pokemon .actions .star-favorite {
        right: -76%;
    }
}
