.rectangle {
    border-radius: 5px;
    font-family: Lato, sans-serif;
    width: 570px;
    height: 60px;
    padding: 10px 0;
    background-color: #ffffff;
    margin: 10px 30px;
    position: relative;
    cursor: pointer;
    transition: width linear 200ms;
}

.rectangle h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    width: 478px;
    height: 26px;
    position: relative;
    left: 20px;
    top: calc(50% - 26px / 2);
    color: #353535;
}

.star {
    background: #f5f5f5;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: absolute;
    right: 10px;
    top: calc(50% - 44px / 2);
    cursor: pointer;
    z-index: 1;
}

.star img {
    width: 26px;
    position: absolute;
    left: 9px;
    top: 7px;
}

@media screen and (max-width: 600px) {
    .rectangle{
        width: 315px;
    }
}
