.search {
    position: relative;
    width: 570px;
    margin: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    height: 50px;
    transition: width linear 300ms;
}

.search img{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: calc(50% - 18px/2);
}

.search .search__input {
    width: 90%;
    border: none;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    right: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #353535;
}

.search .search__input::placeholder{
    position: absolute;
    width: 56px;
    height: 22px;
    top: calc(50% - 22px/2);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #BFBFBF;
}

.search .search__input:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    .search{
        width: 315px;
    }
    .search .search__input{
        width: 86%;
    }
}
