<template>
    <div class="error">
        <EmptyList path="/" text="404 Page not found"/>
    </div>
</template>

<script>
    import EmptyList from "../components/empty-list/emptyList";

    export default {
        name: "ErrorPage",
        components: {EmptyList}
    }
</script>

<style scoped>
    .error {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
</style>
