<template>
    <div class="pokemons">
        <SearchPokemon/>
        <div v-if="favoritePokemons.length >= 1">
            <PokemonList
                    v-for="(pokemon, index) in favoritePokemons"
                    @savePokemon="spliceFavorite"
                    :key="index"
                    :pokemon="pokemon"
            />
        </div>
        <div v-else>
            <EmptyList path="pokemons" text="Nothing to see here"
                       btn-text="Go to pokédex"/>
        </div>
        <BottomBar/>
    </div>
</template>

<script>
    import PokemonList from "../components/pokemon/PokemonList";
    import {mapGetters} from "vuex";
    import BottomBar from "../components/buttom-bar/BottomBar";
    import SearchPokemon from "../components/pokemon/SearchPokemon";
    import "../assets/css/pokemons.css";
    import EmptyList from "../components/empty-list/emptyList";

    export default {
        name: "FavoritePokemons",
        components: {EmptyList, SearchPokemon, BottomBar, PokemonList},
        beforeRouteLeave(to, from, next) {
            this.$store.commit("ADD_POKEMON_NAME", "");
            next();
        },
        methods: {
            spliceFavorite(pokemon) {
                this.$store.commit("CHECK_POKEMON_FALSE", pokemon);
                this.$store.commit("DELETE_FAVORITE_POKEMON", pokemon);
                this.$swal("Success", "Pokemon deleted successfully...", "success")
            },
        },
        computed: {
            ...mapGetters({
                favoritePokemons: "favoritePokemons",
            }),
        },
    };
</script>
