<template>
  <div class="home">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <LogoPokemon />
      </div>
    </div>
    <div class="row mb-4 mt-4 text-center justify-content-center">
      <div class="col-md-5">
        <h3 class="title">Welcome to Pokédex</h3>
      </div>
    </div>
    <div class="row mb-5 text-center justify-content-center">
      <p class="subtitle">
        The digital encyclopedia created by Professor Oak is an invaluable tool
        <br />
        to Trainers in the Pokémon world.
      </p>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-md-5">
        <ButtonStarted />
      </div>
    </div>
  </div>
</template>

<script>
import LogoPokemon from "../components/home/LogoPokemon";
import ButtonStarted from "../components/home/ButtonStarted";
import "../assets/css/home.css";

export default {
  name: "Home",
  components: { ButtonStarted, LogoPokemon },
};
</script>

<style scoped></style>
