<template>
    <Loader v-if="loading"/>
    <div class="pokemons" v-else>
        <SearchPokemon @change="searchPokemon"/>
        <div v-if="pokemons.length >= 1">
            <PokemonList
                    v-for="(pokemon, index) in pokemons"
                    :pokemon="pokemon"
                    @savePokemon="savePokemon"
                    :key="index"
            />
        </div>
        <EmptyList path="/" v-else/>
        <BottomBar/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from "vuex";
    import PokemonList from "../components/pokemon/PokemonList";
    import Loader from "../components/spinner/Loader";
    import SearchPokemon from "../components/pokemon/SearchPokemon";
    import BottomBar from "../components/buttom-bar/BottomBar";
    import searchMixin from "../mixins/searchMixin";
    import "../assets/css/pokemons.css";
    import savePokemonMixin from "../mixins/savePokemonMixin";
    import EmptyList from "../components/empty-list/emptyList";

    export default {
        name: "Pokemons",
        components: {EmptyList, Loader, PokemonList, SearchPokemon, BottomBar},
        mixins: [searchMixin, savePokemonMixin],
        beforeCreate() {
            if (this.$store.state.pokemons.length === 0)
                this.$store.dispatch("getPokemons");
        },
        methods: {
            ...mapActions({
                getPokemonByName: "getPokemonByName",
            }),
        },
        computed: {
            ...mapGetters({
                pokemons: "pokemons",
                loading: "loading",
            }),
        },
    };
</script>
