<template>
  <button class="btn-started btn btn-micro" @click="$router.push('Pokemons')">
    Get Started
  </button>
</template>

<script>
export default {
  name: "ButtonStarted",
};
</script>

<style scoped>
.btn-started {
  padding: 11px 20px;
  width: 145px;
  height: 46px;
  background: #f22539;
  border-radius: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: background-color linear 200ms;
}

.btn-started:hover {
  color: #ffffff;
  background: #c00e20;
}

.btn-started:focus {
  /*border: none;*/
  /*box-shadow: 0 0 0 0;*/
}
</style>
