<template>
  <div class="pikachu__logo">
    <img src="../../assets/images/pikachu2.svg" alt="" class="pikachu" />
    <img src="../../assets/images/ellipse2.svg" alt="" class="circle" />
  </div>
</template>

<script>
export default {
  name: "LogoPokemon",
};
</script>
<style scoped>
.pikachu__logo {
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
}

.pikachu__logo .pikachu {
  width: 325px;
  position: absolute;
  z-index: 1;
  top: -63px;
  margin-right: -17px;
}

.pikachu__logo .circle {
  position: absolute;
  width: 214px;
}
</style>
