<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
body {
  background-color: #f5f5f5 !important;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  font-family: Lato, sans-serif;
}
</style>
